[submodule "TERMPROJECT-Light-Based-LED-Driver/supplements/NOKIA5110_TEXT"]
	path = TERMPROJECT-Light-Based-LED-Driver/supplements/NOKIA5110_TEXT
	url = https://github.com/gavinlyonsrepo/NOKIA5110_TEXT.git
